<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 ">
    <div class="container-fluid p-0">
        <a class="nav-link" routerLink="template-driven" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Template-Driven Form (Original)</a>
        <a class="nav-link" routerLink="signal-form" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Signal-Based Form</a>
        <a class="nav-link" routerLink="reactive-form" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Reactive Form</a>
    </div>
</nav>