<div class="container py-5">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3 shadow-sm">
    <div class="container-fluid py-2 py-md-4">
      <h1 class="display-5 fw-bold">Welcome to <p>{{ title() }}  </p></h1>
      <p class="fs-5 text-body-secondary mb-4">
        Learn modern Angular concepts with clear, hands-on examples.
      </p>
      <div class="d-flex flex-wrap gap-2">
        <a routerLink="/signals" class="btn btn-primary btn-lg">Get Started</a>
        <a routerLink="/reactive-form" class="btn btn-outline-secondary btn-lg">Explore Examples</a>
      </div>
    </div>
  </div>
</div>
