<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <rect y="4" width="24" height="2" rx="1" fill="currentColor"/>
            <rect y="11" width="24" height="2" rx="1" fill="currentColor"/>
            <rect y="18" width="24" height="2" rx="1" fill="currentColor"/>
        </svg>
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (item of menuItems; track $index+1) {
            <li class="nav-item"><a class="nav-link" [routerLink]="item.link" routerLinkActive="active">{{item.displayName}}</a></li>
        }
    </ul>
  </div>
</nav>
